body{
    background-color: gray;
    box-shadow:5px 5px green;
}

header{
    text-align: center;
    background-color:blue;
    color: white;
}

#main-title{
    background-image: linear-gradient(rgb(116, 201, 241),red);
    text-align: center;
    text-decoration: underline;
    color: white;
}

.subheading{
    text-align: center;
    background-color: bisque;
    border-bottom: 10px;
    border-radius: .75em;
}

img{
    text-align: center;
    display: block;
    border: orange
}

#ptwo{
    display: block;
    height: 20%;
}